<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.shiroplus.mapper.UserMapper">

    <select id="findUserAll" resultType="com.future.shiroplus.domain.entity.User">
        select * from user /*where user_name != 'admin'*/
    </select>

    <select id="isRegist" resultType="com.future.shiroplus.domain.entity.User">
        select * from user where user_name = #{userName}
    </select>

    <insert id="insert" parameterType="com.future.shiroplus.domain.entity.User">
        INSERT INTO `user`(`user_name`, `pwd`, `tel`, `dept_id`, `signature`)
        VALUES (#{userName},#{pwd},#{userName},1 ,#{signature});
    </insert>
</mapper>