<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{~/static/css/bootstarp/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/static/css/sweetalerth:t/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{~/static/css/font-awesome/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{~/static/css/custom/custom.min.css}">
    <link rel="stylesheet" th:href="@{~/static/css/common.css}">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <!-- 左边导航栏上的系统名称显示 -->
                    <div th:replace="common/index_moudle :: nav_title"></div>
                    <!-- 导航上方的用户信息 -->
                    <div th:replace="common/index_moudle :: nav_top_userinfo"></div>
                    <!-- 左边导航栏 -->
                    <div th:replace="common/index_moudle :: left_menu"></div>
                    <!-- 左边导航栏底部菜单 -->
                    <div th:replace="common/index_moudle :: nav_foot"></div>
                </div>
            </div>
            <!-- 头部导航栏 -->
            <div th:replace="common/index_moudle :: nav_top"></div>
            <!-- 开始 - 页面内容 -->
            <div id="jr_main" class="right_col">
                <!-- 开始 - 头部路径导航条 -->
                <ol class="breadcrumb">
                    <li><a href="../index.html">首页</a></li>
                    <li class="active">修改密码</li>
                </ol>
                <!-- 结束 - 头部路径导航条 -->

                <!-- 开始 - 主要内容 -->
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4">修改密码</span>
                            <span class="h6 text-muted">在下面的表单中修改您的登录密码</span>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="POST">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名 :</label>
                                    <div class="col-sm-4">
                                        <p class="form-control-static">九日</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="olePassword" class="col-sm-2 control-label">旧密码 :</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="olePassword" placeholder="旧密码"
                                            required>
                                    </div>
                                    <span id="helpBlock" class="help-block h4">
                                        <span style="color: red">*</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="col-sm-2 control-label">新密码 :</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="newPassword" placeholder="新密码"
                                            required>
                                        <!-- 进度条 -->
                                        <div class="col-sm-6" style="padding-left: 0;">
                                            <div class="progress" style="margin-top: 5px;">
                                                <div class="progress-bar progress-bar-danger" style="width: 33.3%">
                                                    <span>弱</span>
                                                </div>
                                                <div class="progress-bar progress-bar-warning" style="width: 33.3%">
                                                    <span>中</span>
                                                </div>
                                                <div class="progress-bar progress-bar-success" style="width: 33.3%">
                                                    <span>强</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span id="helpBlock" class="help-block h4">
                                        <span style="color: red">*</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword2" class="col-sm-2 control-label">确认新密码 :</label>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control" id="newPassword2" placeholder="确认新密码"
                                            required>
                                    </div>
                                    <span id="helpBlock" class="help-block h4">
                                        <span style="color: red">*</span>
                                    </span>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <button type="button" class="btn btn-primary">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 结束 - 主要内容 -->
        </div>
        <!-- 结束 - 页面内容 -->

    </div>
    </div>

</body>

<!-- javaScript -->
<script th:src="@{~/static/js/jquery.min.js}"></script>
<script th:src="@{~/static/js/bootstarp/bootstrap.min.js}"></script>
<script th:src="@{~/static/js/sweetalert/sweetalert2.min.js}"></script>
<script th:src="@{~/static/js/custom/custom.min.js}"></script>
<script th:src="@{~/static/js/layout.js}"></script>
<script th:src="@{~/static/js/common.js}"></script>
</html>